{% extends 'base.html.twig' %}

{% block title %}Welcome | E-acadEEMI{% endblock %}
{% block stylesheets %}
<style>


.home{
    padding-top: 5%;
    background-image: url('img/home/bg-home.png');
    background-repeat: no-repeat;
  background-size: 80em;
    background-position: center;

}
nav li a {
  color:#2B3595;
  border-bottom: 2px solid #2B3595;
}
nav li a:hover{
  color:#50D282;
  border-bottom: 2.5px solid #50D282;
}
.formation{
    color:#2B3595;
    padding-top: 5%;
    padding-left: 10%;
}
.share{
    list-style: none;
    padding-top: 5%;
}
.ordi{
    padding-left: 3%;
}
.info{
    padding-top: 10%;
}

.btn-regist{
    background-color: #50D282;
    color: white;
}
.btn-regist:hover{
    background-color: rgb(50, 212, 112);
    color: white;
}
.btn-login{
   background-color: #2B3595;
   color: white;
}
.btn-login:hover{
   background-color: rgb(61, 70, 153);
   color: white;
}
.name{
    color: #50D282;
}
</style>
{% endblock %}
{% block body %}

<div class="container-fluid home">
    <div class="row">
        <div class="col-md-6 formation">
            <h1>Bienvenue <span class="name"> {{app.user.prenom}} </span> sur <br>
                e-acadEEMI</h1>
            <p>Bon courage pour tes premiers pas dans notre formation !
            </p>
        
            <div class="info">
        

        

     <ul class="row share">
        <li class="col-md-4"> <a href=""><img src="img/home/share.png" height="20" alt=""></a></li>
        <li class="col-md-4"><a href=""><img src="img/home/fb-logo.png" height="20" alt=""></a></li>

        <li class="col-md-4"><a href=""><img src="img/home/instagram.png" height="20" alt=""></a></li>
    </ul>
</div>
        </div>
        <div class="col-md-6 ordi">
            <img src="img/home/ordi-visio.png" alt="">
        </div>
    </div>
</div>
{% endblock %}
