<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>{% block title %}Welcome | E-acadEEMI{% endblock %}</title>
</head>
<body>
    
</body>
</html>

{
{% block stylesheets %}
<style>


.home{
    padding-top: 5%;
    background-image: url('img/home/bg-home.png');
    background-repeat: no-repeat;
  background-size: 80em;
    background-position: center;

}

.formation{
    color:#2B3595;
    padding-top: 2%;
    padding-left: 10%;
}
.share{
    list-style: none;
    padding-top: 5%;
}
.ordi{
    padding-left: 3%;
}
.info{
    padding-top: 10%;
}

.btn-regist{
    background-color: #50D282;
    color: white;
}
.btn-regist:hover{
    background-color: rgb(50, 212, 112);
    color: white;
}
.btn-login{
   background-color: #2B3595;
   color: white;
}
.btn-login:hover{
   background-color: rgb(61, 70, 153);
   color: white;
}

.chiffre{
    font-size: 1.3em;
}
.cours{
    font-size: 1.8em;
}
.ecole{
    color: #50D282;
    font-size: 1.6em;
}
</style>
{% endblock %}
{% block body %}

<div class="container-fluid home">
    <div class="row">
        <div class="col-md-6 formation">
            <h1>Formation en ligne sur la <br>
               <span class="ecole">e-acadEEMI</span></h1>
            <p>Suivez le bachelor chef de projets digitaux en formation continue à distance ! <br>
            Prendre en main son avenir professionel n'a jamais été aussi simple.
            </p>
            <span class="cours">3 cours gratuits pour découvrir la plateformes</span>
            <br>
            <span class="chiffre">puis 300€ / mois (engagement 1an)</span>
      
            <div class="info">
        
<br>
        <a class="btn btn-regist" href="{{ path('security_registration')}}">S'inscrire</a>
        <a class="btn btn-login" href="{{ path('security_login')}}">Connexion</a>
        

     <ul class="row share">
        <li class="col-md-4"> <a href=""><img src="img/home/share.png" height="20" alt=""></a></li>
        <li class="col-md-4"><a href=""><img src="img/home/fb-logo.png" height="20" alt=""></a></li>

        <li class="col-md-4"><a href=""><img src="img/home/instagram.png" height="20" alt=""></a></li>
    </ul>
</div>
        </div>
        <div class="col-md-6 ordi">
            <img src="img/home/ordi-visio.png" alt="">
        </div>
    </div>
</div>
{% endblock %}
